

.hero-section {
    background-image: url('./assest/./pexels-photo-6311861.webp');
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust the height based on your design */
    color: #e8daa2; /* Set text color to contrast with the background */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .hero-content {
    max-width: 600px; /* Adjust the width of the content */
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.25rem;
  }
  button{
      background:rgb(198, 178, 158);
      color:white;
      padding: 15px 25px;
      border-radius: 7px;
      border: #e8daa2;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.3s all ease;
  }
  
  button:hover {
      background-color:rgb(50, 40, 40);
  }

  